<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Klee+One&display=swap" rel="stylesheet" />
    <title>Python Final Project</title>
    <style>
        body {
            margin: 0px;
            padding: 0px;
            background-color: rgb(190, 217, 241);
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row mt-4">
            <div class="col-1"></div>
            <div class="col-9">
                <ul class="nav nav-tabs">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Components</a
                            >
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/cases"
                                        >Cases</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/motherboards"
                                        >Motherboards</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/memory"
                                        >Memory</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/storage"
                                        >Storage</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/monitors"
                                        >Monitors</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/keyboards_combo"
                                        >Keyboards and Mice</a
                                    >
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a
                            >
                        </li>
                    </ul>
                </div>
                <div class="col-1"><a href="/logout">Logout</a></div>
            <div class="col-1"></div>
        </div>
        <div class="row"></div>
    </div>
    < <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        var dropdownElementList = [].slice.call(document.querySelectorAll('.dropdown-toggle')) var dropdownList = dropdownElementList.map(function(dropdownToggleEl) { return new bootstrap.Dropdown(dropdownToggleEl) })
        </script>
</body>

</html>