
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Dojo</title>
    <style>
        body {
            background-color: antiquewhite;
        }

        li {
            list-style: none;
            color: firebrick;
            padding-top: 10px;
        }

        #rightHRef {
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row .flex-row mt-5">
            <div class="col-5" id="header">
                <h2>New Dojo</h2>
            </div>
            <div class="col-5">
                <h2>All Dojos</h2>
            </div>
        </div>
        <div class="row .flex-row mt-5">
            <div class="col-5 .flex-row">
                <form action="/create/dojos" method="post">
                    <label class="me-1" for="name">Name: </label>
                    <input type="text" name="name" id="name">
                    <input class="btn btn-dark mt-4" type="submit" value="Create">
                </form>
            </div>
            <div class="col-5 border border-dark border 2 ms-1" id="listBox">
                <ul>
                    {% for dojos in dojo_info %}
                    <li><a href="/index/dojo/ninjas/{{dojos.id}}/{{dojos.name}}">{{ dojos.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-5"></div>
                <div class="col-5"><a href="/create/ninja_page">Add Ninja</a><a id="rightHRef" href="/index/ninjas">All Ninjas</a></div>
            </div>
    </div>
</body>
</html>