<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Ninja</title>
    <style>
        body {
            background-color: antiquewhite;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-3 mb-3">New Ninja</h1>
        <div class="row mb-3">
           <form action="/create/ninjas" method="post">
                <div class="row mb-3">
                    <div class="col-2">
                        <label for="dojos">Dojo: </label>
                    </div>
                    <div class="col-4">
                        <select name="dojo_id" id="dojos">
                            {% for options in dojo_names %}
                           <option value={{options.id}}>{{options.name}}</option>
                           {% endfor %}
                       </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label for="fname">First Name:</label>
                    </div>
                    <div class="col-4">
                        <input type="text" name="first_name" id="first_name">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label for="lname">Last Name:</label>
                    </div>
                    <div class="col-4">
                        <input type="text" name="last_name" id="last_name">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label for="age">Age:</label>
                    </div>
                    <div class="col-4">
                        <input type="text" name="age" id="age">
                    </div>
                </div>
                <div class="row">
                    <input type="hidden" name="dojo_id" value="">
                </div>
                <div class="row mt-5">
                    <div class="col-2">
                <a href="/">Home</a>
                    </div>
                    <div class="col-3">
                        <input class="btn btn-dark" type="submit" value="Create">
                    </div>
                </div>
           </form>
        </div>
    </div>
</body>
</html>