<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Klee+One&display=swap" rel="stylesheet" />
    <title>Product Input</title>
    <style>
        body {
            margin: 0px;
            padding: 0px;
            background-color: rgba(212, 227, 240, 0.562);
        }
        
        .navigation {
            background-color: rgba(145, 143, 143, 0.452);
            border: 3px ridge rgb(66, 2, 2);
            border-radius: 10px;
        }
        
        .navigation a {
            color: rgb(90, 1, 1);
            font-weight: 600;
            font-size: 1rem;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="navigation row mt-4 text-center align-items-center">
            <div class="col-1"></div>
            <div class="col-8">
                <ul class="nav nav-tabs">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Components</a
                            >
                            <ul class="dropdown-menu">
                                <li>
                                    <a
                                        class="dropdown-item"
                                        href="/motherboards"
                                        >Motherboards</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/cpus"
                                        >CPUs</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/memory"
                                        >Memory</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/storage"
                                        >Storage</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/monitors"
                                        >Monitors</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        href="/keyboards_combo"
                                        >Keyboards and Mice</a
                                    >
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-1"><a href="/user">Home</a></div>
            <div class="col-1"><a href="/logout">Logout</a></div>
            <div class="col-1"></div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <ul>
                    <li><a href="#cases">Cases</a></li>
                    <li><a href="#motherboards">Motherboards</a></li>
                    <li><a href="#cpus">CPU's</a></li>
                    <li><a href="#memory">Memory</a></li>
                    <li><a href="#storage">Storage</a></li>
                    <li><a href="#monitors">Monitors</a></li>
                    <li><a href="#keyboards">Keyboard & Mice</a></li>
                </ul>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-6" id="cases">
                <form action="/product_input/cases">
                    <h2>Cases:</h2>
                    <div class="row">
                        <label for="brand">Brand</label>
                    </div>
                    <div class="row">
                        <input type="text" name="brand" id="brand" />
                    </div>
                    <div class="row">
                        <label for="color">Color</label>
                    </div>
                    <div class="row">
                        <input type="text" name="color" id="color" />
                    </div>
                    <div class="row">
                        <label for="type">Type</label>
                    </div>
                    <div class="row">
                        <input type="text" name="type" id="type" />
                    </div>
                    <div class="row">
                        <label for="size">Size</label>
                    </div>
                    <div class="row">
                        <input type="text" name="size" id="size" />
                    </div>
                    <div class="row">
                        <label for="client_id">Client Likes</label>
                    </div>
                    <div class="row">
                        <input type="text" name="client_id" id="client_id" />
                    </div>
                </form>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-6" id="motherboards">
                <form action="/product_input/mb">
                    <h2>Motherboard's:</h2>
                    <div class="row">
                        <label for="brand">Brand</label>
                    </div>
                    <div class="row">
                        <input type="text" name="brand" id="brand" />
                    </div>
                    <div class="row">
                        <label for="cpu_type">CPU Type</label>
                    </div>
                    <div class="row">
                        <input type="text" name="cpu_type" id="cpu_type" />
                    </div>
                    <div class="row">
                        <label for="high_end">High End</label>
                    </div>
                    <div class="row">
                        <input type="text" name="high_end" id="high_end" />
                    </div>
                    <div class="row">
                        <label for="mem">Memory</label>
                    </div>
                    <div class="row">
                        <input type="text" name="memory" id="mem" />
                    </div>
                    <div class="row">
                        <label for="pci">PCI Slots</label>
                    </div>
                    <div class="row">
                        <input type="text" name="pci" id="pci" />
                    </div>
                    <div class="row">
                        <label for="pcie">PCIE Slots</label>
                    </div>
                    <div class="row">
                        <input type="text" name="pcie" id="pcie" />
                    </div>
                    <div class="row">
                        <label for="m2_drive">M2 Drive</label>
                    </div>
                    <div class="row">
                        <input type="text" name="m2_drive" id="m2_drive" />
                    </div>
                    <div class="row">
                        <label for="motherboard_id">Motherboard Compatibility</label>
                    </div>
                    <div class="row">
                        <input type="text" name="motherboard_id" id="motherboard_id" />
                    </div>
                </form>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-6" id="cpus">
                <form action="/product_input/cpus">
                    <h2>CPU's:</h2>
                    <div class="row">
                        <label for="brand">Brand</label>
                    </div>
                    <div class="row">
                        <input type="text" name="brand" id="brand" />
                    </div>
                    <div class="row">
                        <label for="cores">Cores</label>
                    </div>
                    <div class="row">
                        <input type="text" name="cores" id="cores" />
                    </div>
                    <div class="row">
                        <label for="speed">Speed</label>
                    </div>
                    <div class="row">
                        <input type="text" name="speed" id="speed" />
                    </div>
                </form>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-6" id="memory">
                <form action="/product_input/memory">
                    <h2>Memory:</h2>
                    <div class="row">
                        <label for="brand">Brand</label>
                    </div>
                    <div class="row">
                        <input type="text" name="brand" id="brand" />
                    </div>
                    <div class="row">
                        <label for="size">Size</label>
                    </div>
                    <div class="row">
                        <input type="text" name="size" id="size" />
                    </div>
                    <div class="row">
                        <label for="slots_used">Slots Used</label>
                    </div>
                    <div class="row">
                        <input type="text" name="slots_used" id="slots_used" />
                    </div>
                </form>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-6" id="storage">
                <form action="/product_input/storage">
                    <h2>Storage:</h2>
                    <div class="row">
                        <label for="brand">Brand</label>
                    </div>
                    <div class="row">
                        <input type="text" name="brand" id="brand" />
                    </div>
                    <div class="row">
                        <label for="type">Type</label>
                    </div>
                    <div class="row">
                        <input type="text" name="type" id="type" />
                    </div>
                    <div class="row">
                        <label for="size">Size</label>
                    </div>
                    <div class="row">
                        <input type="text" name="size" id="size" />
                    </div>
                </form>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-6" id="monitors">
                <form action="/product_input/monitors">
                    <h2>Monitors:</h2>
                    <div class="row">
                        <label for="brand">Brand</label>
                    </div>
                    <div class="row">
                        <input type="text" name="brand" id="brand" />
                    </div>
                    <div class="row">
                        <label for="size">Size</label>
                    </div>
                    <div class="row">
                        <input type="text" name="size" id="size" />
                    </div>
                </form>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-6" id="keyboards">
                <form action="/product_input/keyboards">
                    <h2>Keyboards and Mice:</h2>
                    <div class="row">
                        <label for="brand">Brand</label>
                    </div>
                    <div class="row">
                        <input type="text" name="brand" id="brand" />
                    </div>
                    <div class="row">
                        <label for="buttons">Buttons</label>
                    </div>
                    <div class="row">
                        <input type="text" name="buttons" id="buttons" />
                    </div>
                    <div class="row">
                        <label for="wireless">Wireless</label>
                    </div>
                    <div class="row mb-5">
                        <input type="text" name="wireless" id="wireless" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        var dropdownElementList = [].slice.call(document.querySelectorAll('.dropdown-toggle')) var dropdownList = dropdownElementList.map(function(dropdownToggleEl) {
            return new bootstrap.Dropdown(dropdownToggleEl)
        })
    </script>
</body>

</html>