<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Klee+One&display=swap" rel="stylesheet" />
    <title>Python Final Project</title>
    <style>
        body {
            margin: 0px;
            padding: 0px;
            background-color: rgba(212, 227, 240, 0.562);
        }
        
        .navigation {
            background-color: rgba(145, 143, 143, 0.452);
            border: 3px ridge rgb(66, 2, 2);
            border-radius: 10px;
        }
        
        .navigation a {
            color: rgb(90, 1, 1);
            font-weight: 600;
            font-size: 1rem;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="navigation row mt-4 text-center align-items-center">
            <div class="col-1"></div>
            <div class="col-8">
                <ul class="nav nav-tabs">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Components</a
                            >
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/motherboards"
                                        >Motherboards</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/cpus"
                                        >CPUs</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/memory"
                                        >Memory</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/storage"
                                        >Storage</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/monitors"
                                        >Monitors</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/keyboards_combo"
                                        >Keyboards and Mice</a
                                    >
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-1"><a href="/user">Home</a></div>
            <div class="col-1"><a href="/logout">Logout</a></div>
            <div class="col-1"></div>
        </div>
        <div class="row"></div>
    </div>
    < <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        var dropdownElementList = [].slice.call(document.querySelectorAll('.dropdown-toggle')) var dropdownList = dropdownElementList.map(function(dropdownToggleEl) { return new bootstrap.Dropdown(dropdownToggleEl) })
        </script>
</body>

</html>